*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --pri-back-color:rgb(0, 80, 228);
    --sec-back-color:rgb(124, 185, 255);
    --pri-font-color:rgb(36, 38, 43);
    --sec-font-color:rgb(133, 130, 130);
    font-family: 'Blinker', sans-serif;;
}
:root{
        font-size: 16px;
}

.container{
    max-width: 1100px;
    padding:0 20px;
    margin:auto;
}
ul{
    list-style-type:none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color:black;
}
/*----------------navbar------------------------*/

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size:1.2rem;
}

.navbar li a{
    margin-left:30px;
    color:var(--sec-font-color);
    transition:0.3s;
}
.navbar li a:hover{
    color:rgb(36, 35, 35);
}

.nav-logo{
    color:black;
    font-weight: 700;
    font-size:1.6rem;
}
.navbar button{
    padding:12px 20px;
    background: var(--pri-back-color);
    color:white;
    font-size:1.2rem;
    border-radius: 5px;
    border: none;
    margin-left:100px;
    transition: 0.3s;
}
.navbar button:hover{
    background: rgb(2, 45, 163);
}
.Navbar__Link-toggle {
    display: none;
}
.arrows{
    font-weight: 100;
    font-size: 0.8rem;
}
@media(max-width:992px){
    
    .container{
        max-width:750px;
        
    }
    .navbar{
        flex-direction: column;
    }
    .navbar li{
        display: none;
        margin-top: 20px;
    }
    .navbar li a{
    margin-left:0px;
    }
    .navbar button{
        margin-left:0;
        margin-top:30px;
    }
    /* .Navbar__ToggleShow{
        display: block;
    } */
    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    

}
@media(max-width:750px){
    .container{
        max-width:550px;
    }
}
/*---------------hero-section------------------------*/
.hero-section{
    text-align:center;
}
.hero-section img{
    width:280px;
    margin-top:10rem;
    margin-bottom: 2rem;
}
.hero-section h1{
    font-size: 3rem;
    letter-spacing: 3px;
    color:var(--pri-font-color);
    margin-bottom: 10px;
    font-weight: 700;
}
.hero-section p{
    max-width:800px;
    margin: auto;
    margin-bottom: 100px;
    font-size: 1.3rem;
    letter-spacing: 3px;
    line-height: 2rem;
    color:var(--sec-font-color);
}
@media(max-width:300px){
    .hero-section img{
        width:180px;
    }
}
/*---------------Services------------------------*/
/* .red-circle{
    border-radius:100%;
    padding: 20px;
    height: 100px;
    width: 100px;
    margin: auto;
    color:white;
    font-size: 2rem;
    background-color: red;
} */
.service-section{
    margin:250px 0;
}
div[class*=-circle]{
    border-radius:100%;
    padding: 20px;
    height: 95px;
    width: 95px;
    margin: auto;
    color:white;
    font-size: 2rem;

}

div[class*=-circle] i{
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(5px);
    place-self:center;

}
.red-circle{
    background-color: red;
}
.yellow-circle{
    background-color: rgb(255, 174, 0);
}
.blue-circle{
    background-color: rgb(13, 77, 255);
}
.services div > :first-child{
    
}

.services div h2{
    margin: 10px 0;
    letter-spacing: 2px;
    font-size:1.5rem;
}
.services div p{
    color:var(--sec-font-color);
    font-size:1.2rem;
    font-weight: 100;
}


@media(max-width:992px){

}

/*-----------------grid-------------------*/
/* .grid-item1{
    grid-row:1/span 2;
    grid-column: 2/span 1;
}

.grid-item2{
    grid-row:2/span 2;
}
.grid-item3{
    grid-row:4/span 2;
    
}
.grid-item4{
    grid-row:4/span 2;
    grid-column: 3/span 1;
} */
.img-grid img{
    height: 100%;
    width: 100%;
    border-radius:2%;
    box-shadow: 1px 1px 20px 3px rgba(161, 160, 160, 0.37);

}

.img-grid .grid4 a,
.img-grid .grid5 a{
    position:relative;
}
.overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #006effe7;
    border-radius:2%;
  }
  .text{
    color: white;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
  }
  .image {
    display: block;
    width: 100%;
    height: 100%;
    position:relative;
  }

.img-grid .grid4 a:hover .overlay,
.img-grid .grid5 a:hover .overlay{
    opacity: 1;
}


/*-----------------Contact Section-------------------*/
.contact-section{
    text-align: center;
    margin:200px 0;
}
.contact-section h2{
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1.5px;

}
.contact-section > p{
    margin: 20px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    color:var(--sec-font-color);
    letter-spacing: 1.5px;
}
.card{
    max-width:440px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 5px rgba(128, 128, 128, 0.37);
    padding:30px;
}
.card p{
    margin:10px;
}
.card p a{
    color:rgb(0, 114, 207);
}
.card p a:hover{
    text-decoration: underline;
}
.contact-icons{
    border-radius:100%;
    padding: 20px;
    height: 70px;
    width: 70px;
    margin: auto;
    color:white;
    font-size: 2rem;
   
}
.contact-icon1{
    background-color: rgb(255, 153, 0);
}
.contact-icon1 i{
transform: translateY(-5px) translateX(-2px);
}
.contact-icon2{
    background-color: rgb(8, 150, 27);
}
.contact-icon2 i{
    transform: translateY(-5px);
}

@media(max-width:300px){
    .card{
        padding:0;
    }
}
/*-----------------footer-------------------*/
footer{
    background: rgb(33, 40, 50);
    color:var(--sec-font-color);
}

.flex-footer{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    font-size:1.3rem;
    border-bottom:1px solid var(--sec-font-color);
    padding-bottom:10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}


.flex-footer  ul{
    margin-top:30px;
    
}
.flex-footer li{
    display: block;
    padding-bottom:5px;
}
.flex-footer li a{
    color:var(--sec-font-color);
    font-size: 1.1rem;
}
.flex-footer li a:hover{
    text-decoration: underline;
}
.flex-footer div div{
    margin-top:20px;
}
.flex-footer div div i{
    margin-right:10px;
    font-size:1.5rem;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer-bottom p a{
    color:var(--sec-font-color);
}
.footer-bottom p a:hover{
    text-decoration: underline;
}
@media(max-width:992px){
    .flex-footer{
        flex-direction:column;
    }
    .footer-bottom{
        flex-direction:column;
    }
    .footer-bottom p{
        margin-bottom:20px;
    }
    .flex-footer div{
        margin-bottom:30px;
        margin-top:20px;
        
    }
}

/*-----------------utilities-------------------*/
.my{
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:black;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    gap:20px;
    justify-content: center;
    /* align-items: center; */
    text-align:center;
    height: 100%;    
}
@media(max-width:992px){
    .grid{
    grid-template-columns: repeat(1,1fr);

    }
}
.grid2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(5,1fr); */
    gap:20px;
    justify-content: center;
    /* align-items: center; */
    text-align:center;
    height: 100%;
}

.grid3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

@media(max-width:992px){
    .grid3{
        grid-template-columns: repeat(1,1fr);
    }
}

.grid4{
    display:grid;
    grid-template-rows:1fr 1.8fr 1.3fr;
    gap:30px;
}
.grid5{
    display:grid;
    grid-template-rows:1.8fr 1.3fr 1fr;
    gap:30px;
}
.grid6{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    width:80%;
    margin:auto;
    
}
@media(max-width:992px){
    .grid6{
        grid-template-columns: repeat(1,1fr);
    }
}
.d-flex{
    display: flex;
    justify-content: center;
}